<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ .Title }}</title>
        <link
            rel="stylesheet"
            href="{{ .Site.BaseURL }}css/fullcalendar.min.css"
        />
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>

    <body>
        <h1>SF City Hall Lighting Schedule</h1>
        <div id="calendar"></div>

        <p>
            Scrapes data from
            <a href="https://www.sf.gov/location/san-francisco-city-hall"
                >sf.gov</a
            >, source code
            <a href="https://github.com/lily-mara/sf-city-hall-lights">here</a>,
            made by <a href="https://lilymara.xyz/">Lily</a>.
        </p>

        <script src="{{ .Site.BaseURL }}js/moment.min.js"></script>
        <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
        <script src="{{ .Site.BaseURL }}/js/jquery-ui.custom.min.js"></script>
        <script src="{{ .Site.BaseURL }}/js/fullcalendar.min.js"></script>

        <script>
            $(document).ready(function () {
                const events = [
                    {{ range $index, $e := (where .Site.RegularPages "Type" "event" ) }}
                    {
                        title: "{{ .Title }}",
                        start: "{{ dateFormat "2006-01-02" .Params.start }}",
                        end: "{{ dateFormat "2006-01-02" .Params.end }}",
                        allDay: {{ .Params.allday }},
                        url: "{{ .Permalink | absURL }}",
                        color: "{{.Params.color}}",
                        {{if eq .Params.color "white" }} textColor: 'black', {{ end }}
                        rendering: 'background',
                    },
                    {{ end }}
                ];

                $("#calendar").fullCalendar({
                    events: events,
                });
            });
        </script>
    </body>
</html>
